<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>REGISTRO</ion-title>
  </ion-toolbar>
</ion-header>





<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input label="ID " type="number" placeholder="000"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-input label="Password " type="password" value="password"></ion-input>
  </ion-item>
  
  <ion-button>ENTRAR</ion-button> <ion-button [disabled]="true">REGISTRAR</ion-button>

  <ion-button>ENTRAR</ion-button> <ion-button [disabled]="true">REGISTRAR</ion-button>
</ion-content>
